html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.widgetTray {
  display: flex;
  flex-direction: row;
  padding: 2px;
  gap: 2px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.widget {
  display: flex;
  flex-direction: column;
  border: 1px, solid, black;
  gap: 2px;
  padding: 2px;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 60px;
}
